{% load staticfiles %}
<!doctype html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  {% include "head_css.html" %}
  {% block style %}{% endblock %} {% block header_script %}{% endblock %}
  <style>
  body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image:url({% static 'clean-gray-paper.png' %});
  background-repeat:repeat;

}

.navbar {
  margin-bottom: 20px;
}
</style>
</head>

<body>
  {% include "navbar.html" %}
  {% block content %}{% endblock %}
</body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</html>
