{% extends "base.html" %} {% load staticfiles %} {% block title %}Create Order{% endblock %} {% block content %}
<!-- <a href="{% url 'customerhome' %}">Home</a> -->
<form class = "form-horizontal" role = "form" method="POST" action="">
{% csrf_token %}
   <div class = "form-group">
      <label for = "Name" class = "col-sm-1 control-label">Name</label>

      <div class = "col-sm-10">
         <input type = "text" class = "form-control" id = "firstname" placeholder = "Enter Order Name" name="name">
      </div>
   </div>
   {% for pizza in pizzas %}
          <input type="checkbox" name="checks" value="{{pizza.name}}">{{pizza.name}}   {{pizza.price}}<br/>
    {% endfor %}
   <div class = "form-group">
      <div class = "col-sm-offset-1 col-sm-1">
         <button type = "submit" class = "btn btn-default">Create Order</button>
      </div>
   </div>
   {% endblock %}
