{% extends "base.html" %} {% block title %}Customer Login {% endblock %} {% block content %}
<!-- <a href="{% url 'customerhome' %}">Home</a> -->
<form method="post" action="">
  {% csrf_token %}
  <form class = "form-horizontal" role = "form">

     <div class = "form-group">
        <label for = "firstname" class = "col-sm-3 control-label">User Name</label>

        <div class = "col-sm-8">
           <input type = "text" class = "form-control" id = "firstname" placeholder = "Enter User Name" name="username">
        </div>
     </div>
     <br/>
     <br/>
     <br/>
     <div class = "form-group">
        <label for = "lastname" class = "col-sm-3 control-label">Password</label>

        <div class = "col-sm-8">
           <input type = "password" class = "form-control" id = "lastname" placeholder = "Enter Password" name="password">
        </div>
     </div>
     <br/>
     <br/>
     <br/>
     <div class = "form-group">
     <div class = "col-sm-offset-3 col-sm-8">
        <button type = "submit" class = "btn btn-default">Login In</button>
     </div>
  </div>
   </form>
{% endblock %}
