{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Manage orders{% endblock %}
{% block content %}
<!-- <a href="{% url 'customerhome' %}">Home</a> -->
{% for order in orders %}
    {{order}}
    <p><a href={% url 'changeorderstatus' orderid=order.id %}>change order status to delivered</a></p>
{% endfor %}
{% endblock %}
