{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Manage Queries{% endblock %}
{% block content %}
<!-- <a href="{% url 'customerhome' %}">Home</a> -->
  {% for query in queries %}
    {{query}}
    <p><a href="{% url 'changequerystatus' queryid=query.id %}">Change Query Status</a>
  {% endfor %}
{% endblock %}
