<div class="container">

   <!-- Static navbar -->
   <nav class="navbar navbar-default">
     <div class="container-fluid">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="{% url 'customerhome' %}">Pizza</a>
       </div>
       <div id="navbar" class="navbar-collapse collapse">
         <ul class="nav navbar-nav">
           <li><a href="{% url 'customerhome' %}">Home</a></li>
           <li><a href="{% url 'submitquery' %}">Contact</a></li>
           {% ifequal type "customer" %}
             <li><a href="{% url 'vieworders' %}">View Orders</a></li>
             <li><a href="{% url 'createorder' %}">Create Orders</a></li>
             <li><a href="{% url 'submitquery' %}">Submit Query</a></li>
           {% endifequal %}
           {% ifequal type "manager" %}
           <li><a href="{% url 'manageorders' %}">Manage Orders</a></li>
           <li><a href="{% url 'viewpizzas' %}">View Pizzas</a></li>
           <li><a href="{% url 'createpizza' %}">Create Pizza</a></li>
           {% endifequal %}
           {% ifequal type "support" %}
           <li><a href="{% url 'managequeries' %}">View Queries</a></li>
           {% endifequal %}
         </ul>
         <ul class="nav navbar-nav navbar-right">
           {% if request.user.is_authenticated %}
           <li><a href="{% url 'userlogout' %}">Logout</a></li>
           {% else %}
            <li><a href="{% url 'userlogin' %}">Login</a></li>
            <li><a href="{% url 'userregistration' %}">Register</a></li>
          {% endif %}
         </ul>
       </div><!--/.nav-collapse -->
     </div><!--/.container-fluid -->
   </nav>
