{% extends "base.html" %} {% block title %}New Customer Registration {% endblock %} {% block content %}
<!-- <a href="{% url 'customerhome' %}">Home</a> -->
<form method="POST" action="">
{% csrf_token %}
{% for field in form %}
    {% if field.errors %}
        <div class="control-group error">
            <label class="control-label">{{ field.label }}</label>
            <div class="controls">{{ field }}
                <span class="help-inline">
                    {% for error in  field.errors %}{{ error }}{% endfor %}
                </span>
            </div>
        </div>
    {% else %}
        <div class="control-group">
            <label class="control-label">{{ field.label }}</label>
            <div class="controls">{{ field }}
                {% if field.help_text %}
                    <p class="help-inline"><small>{{ field.help_text }}</small></p>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endfor %}
  <button type="submit" class="btn btn-default">Register</button>
</form>
{% endblock %}
