{% extends "base.html" %} {% load staticfiles %} {% block title %}Submit Query{% endblock %} {% block content %}
<!-- <a href="{% url 'customerhome' %}">Home</a> -->
<form method="POST" action="">
  {% csrf_token %}
  <div class="form-group">
   <label for="comment">Query:</label>
   <textarea class="form-control" name="description" rows="5" id="comment" name="Description">Enter Your Query Here</textarea>
 </div>
 <br/>
 <br/>
  <button type="submit" class="btn btn-default">Submit Query</button>
</form>
{% endblock %}
