{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Viewpizzas{% endblock %}
{% block content %}
<!-- <a href="{% url 'customerhome' %}">Home</a> -->
{% for pizza in pizzas %}
  <p>{{pizza.name}}</p><p>{{pizza.price}}</p>
    <a href="{% url 'deletepizza' pizza_id=pizza.id %}">Delete pizza</a>
{% endfor %}
{% endblock %}
