{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Vieworders{% endblock %}
{% block content %}
<!-- <a href="{% url 'customerhome' %}">Home</a> -->
{% for order in orders %}
  <p>{{order}}   {{order.orderprice}}</p>
  {% for pizza in order.pizzas.all %}
    <p>{{pizza}}</p>
  {% endfor %}
  {% ifequal order.status 0 %}
    Not Delivered.
    {% else %}
      Delivered
    {% endifequal %}
    {% ifequal order.checkout 0 %}
    Not checked out.
    {% else %}
      Checked out
    {% endifequal %}
    {% ifequal order.checkout 0 %}
    <a href="{% url 'checkout' order_id=order.id %}">Check Out</a>
    {% endifequal %}
  {% ifequal order.status 0 %}
    <a href="{% url 'cancelorder' orderid=order.id %}">cancel order</a>
  {% endifequal %}
{% endfor %}
{% endblock %}
